@charset "utf-8";

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: normal;
	src: url(../font/NotoSansKR-Light.woff2) format('woff2'),
		 url(../font/NotoSansKR-Light.woff) format('woff'),
		 url(../font/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: bold;
	src: url(../font/NotoSansKR-Regular.woff2) format('woff2'),
		 url(../font/NotoSansKR-Regular.woff) format('woff'),
		 url(../font/NotoSansKR-Regular.otf) format('opentype');
}

/* reset */
html, body {margin: 0;padding: 0;}
body {
		font-family: 'Noto Sans KR', HelveticaNeue-Light, AppleSDGothicNeo-Light, "segoe ui", "malgun gothic", '맑은 고딕', "microsoft neogothic", arial, sans-serif !important;
		position: relative;
		background-color: #f2f2f2;
		font-size: 0;
		text-align: center;
		vertical-align: middle;
}
a {text-decoration: none;cursor: pointer;}
ul, ol, dl {list-style: none;margin: 0;padding: 0;}

/* content */
main {
		display: inline-block;
		position: relative;
		left: 0;
		right: 0;
		margin: auto;
		vertical-align: middle;
		width: 100%;
    height: 100%;
    box-sizing: border-box;
}
/*
main.on {
		transition:1s;
		transition-timing-function:ease-in-out;
}
main.on .aside {
		transition:1s;
		transition-timing-function:ease-in-out;
		transform:translate(-50%, -50%);
}
main.on .content {
		transition:1s;
		transition-timing-function:ease-in-out;
		transform:translate(50%, -50%);
}
main {
		transition:1s;
		transition-timing-function:ease-in-out;
}
main .aside {
		transition:1s;
		transition-timing-function:ease-in-out;
		transform:translate(0, -50%);
}
main .content {
		transition:1s;
		transition-timing-function:ease-in-out;
		transform:translate(0, -50%);
} */
main.on .aside {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {opacity:0;}
    to {opacity:1;}
}
@-moz-keyframes fadein { /* Firefox */
    from {opacity:0;}
    to {opacity:1;}
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {opacity:0;}
    to {opacity:1;}
}
@-o-keyframes fadein { /* Opera */
    from {opacity:0;}
    to {opacity: 1;}
}

.aside {
		display: inline-block;
		vertical-align: middle;
		position: absolute;
		background-color: #f2f2f2;
		width: 450px;
		max-height: 650px;
		height: 100%;
		box-sizing: border-box;
		padding: 45px 35px;
		overflow: hidden;
		left: 0;
		right: 0;
		margin: auto;
		top: 50%;
		transform: translate(0, -50%);
		border: 1px solid red;
}
.content {
		display: inline-block;
		vertical-align: middle;
		margin: auto;
		position: absolute;
		background-color: #fff;
		-webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.2);
		-moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.2);
		box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.2);
		width: 450px;
		max-height: 650px;
		height: 100%;
		box-sizing: border-box;
		padding: 15px 35px;
		overflow: hidden;
		left: 0;
		right: 0;
		margin: auto;
		top: 50%;
		transform: translate(0, -50%);
}
.title {font-size: 30px;font-weight: bold;color: #000;text-align: left;box-sizing: border-box;padding-bottom: 15px;}
.tab-header {width: 100%;display: inline-block;font-size: 0;}
.tab-header > li {display: inline-block;width: auto;font-size: 16px;font-weight: normal;color: #333;padding: 2px 20px;border-radius: 5px 5px 0px 0px;background-color: #f5f6f6;border: 1px solid #e8eaea;margin-right: 5px;border-bottom: 0;}
.tab-header > li.on {background-color: #fff;font-weight: bold;position: relative;}
.tab-header > li.on:before {content: '';display: inline-block;position: absolute;width: 100%;height: 2px;background-color: #fff;bottom: -2px;left: 0px;}
.tab-content {display: inline-block;width: 100%;min-height: calc(100% - 120px);border: 1px solid #e8eaea;}
.tab-content > ul {display: none;}
.tab-content > ul.on {display: inline-block;width: 100%;height: calc(100% - 120px);box-sizing: border-box;padding: 5px 0 35px 0;overflow-x: auto;}

.tab-content ul.today li.date {}
.tab-content li {display: inline-block;width: 100%;box-sizing: border-box;padding: 6px 27px;position: relative;text-align: left;font-size: 0;}
.tab-content li > i {display: inline-block;width: 11px;height: 11px;border-radius: 50%;border: 2px solid #4e50e1;box-sizing: border-box;vertical-align: middle;}
.tab-content li > div {display: inline-block;width: calc(100% - 11px);height: 23px;font-size: 14px;color: #666;vertical-align: middle;box-sizing: border-box;padding-left: 5px;}
.tab-content li:after {content: '';width: 6px;height: 6px;border-radius: 50%;position: absolute;background-color: #fff;left: 12px;top: 14px;}
.tab-content li > .box {display: none;position: absolute;right: 18px;top: 0;height: 30px;width: auto;box-sizing: border-box;padding: 0;margin-top: 2px;}
.tab-content li.on > .box {display: inline-block;}

.btn-gp {display: inline-block;width: 100%;font-size: 0;text-align: right;}


/* button */
.btn_add {
		display: inline-block;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		position: absolute;
		bottom: 20px;
		background-color: #4e50e1;
		left: 0;
		right: 0;
		margin: auto;
		text-align: center;
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAFVBMVEX///////////////////////////9nSIHRAAAABnRSTlMASUrk5udXTd49AAAARElEQVR4Ae3SMQ6AUAyCYamU+x9Zd4tJkzfy7f8EV8QHSCwTSlwmeiVJ8geURbgnetwnPSbVsu7KlEkOJ3RP9KqHJ0Y830oE/yk8MnQAAAAASUVORK5CYII=);
}
.box > a {
		width: 30px;
		height: 100%;
		display: inline-block;
		font-size: 0;
		background-color: #333334;
		cursor: pointer;
		background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;
}
a.btn_check {
		background-image: url(../img/checkicon.png);
}
a.btn_editer {
		background-image: url(../img/edit.png);
}
a.btn_delete {
		background-image: url(../img/trash.png);
		background-color: #f3594c;
}
.btn-gp > a {
		display: inline-block;
		width: auto;
		padding: 5px 15px;
		border-radius: 5px;
		font-size: 15px;
		box-sizing: border-box;
		margin-left: 5px;
}
a.btn_save {
		background-color: #4e50e1;
		border: 1px solid #4e50e1;
		color: #fff;
}
a.btn_cancle {
		background-color: #fff;
		border: 1px solid #999;
		color: #666;
}
