.h3{
  height: 50px;
}
.delete{
  vertical-align: bottom;
  width: 20px;
}
.main-contents {
  width: 50%;
  margin: 10px;
  padding: 10px;
  display: inline-block;
  border: 1px solid gray;
  position: absolute;
  left: 25%; top: 25%;
  text-align: center;
}
