.h3{
  height: 50px;
}
.delete{
  vertical-align: bottom;
  width: 20px;
}
.main-contents {
  width: 50%;
  margin: 10px;
  padding: 10px;
  display: inline-block;
  border: 1px solid gray;
  position: absolute;
  left: 25%; top: 25%;
  text-align: center;
}
#list>div{
  cursor: pointer;
}
.done{
  text-decoration: line-through;
  color: powderblue;
}
.font_test1 { text-decoration:underline }
.font_test2 { text-decoration:overline }
.font_test3 { text-decoration:line-through }

/*
선택자 참고 !
A>B : A밑에 바로 밑에 있는 B만 적용
*/
