body {background-color: #f2f2f2;}
button {background-color: #fff;font-size: 14px;color: #333;border: 1px solid #666;padding: 5px 20px;border-radius: 5px;}
a {background-color: #fff;font-size: 14px;color: #333;border: 1px solid #666;padding: 5px 20px;border-radius: 5px;text-decoration: none;}
