@charset "utf-8";

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: normal;
	src: url(../../font/NotoSansKR-Light.woff2) format('woff2'),
		 url(../../font/NotoSansKR-Light.woff) format('woff'),
		 url(../../font/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: bold;
	src: url(../../font/NotoSansKR-Regular.woff2) format('woff2'),
		 url(../../font/NotoSansKR-Regular.woff) format('woff'),
		 url(../../font/NotoSansKR-Regular.otf) format('opentype');
}

html, body {margin: 0;padding: 0;}
body {font-family: 'Noto Sans KR', HelveticaNeue-Light, AppleSDGothicNeo-Light, "segoe ui", "malgun gothic", '맑은 고딕', "microsoft neogothic", arial, sans-serif !important;}
a {text-decoration: none;cursor: pointer;}
ul, ol, dl {list-style: none;margin: 0;padding: 0;}
